Do not reply to this e-mail.  If you have a support question please mail support@serversidewiki.com instead.  Thanks!

Please click (or cut and paste) the below link to change your ServerSideWiki password.

http://<%= @account.login  %>.serversidewiki.com/account/reset_password/<%= @hash %>

Enjoy,

The ServerSideWiki Team
(otherwise known as Josh)
